@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
.App {
  min-height: 100vh;
  background-color: lightsteelblue;
}

.shopName {
  text-align: center;
  padding-top: 20px;
  background: white;
  color: black;
  padding: 10px;
  font-family: "Pacifico", "Roboto", "Courier New", Courier, monospace;
  /*border: 20px solid #218c74;*/
  border: 25px solid thistle;
}

.search-form {
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar {
  background-color: rgb(247, 247, 248);
  border: 0;
  width: 50%;
  height: 30px;
  padding: 0 20px;
  margin: 20px;
  border-radius: 10px;
  font-weight: bolder;
}

.search-bar::placeholder {
  color: rgba(153, 141, 141, 0.5);
}

.search-bar:focus,
.search-button:focus {
  outline: none;
}

.search-button {
  height: 30px;
  width: 85px;
  border-radius: 5px;
  border: 0;
  background-color: darkorange;
  cursor: pointer;
  font-weight: bolder;
  font-size: 15px;
}

.search-button:hover {
  background-color: orange;
  transform: scale(1.02);
  box-shadow: 0px 5px 10px rgb(68, 65, 65);
}

.icon-search {
  margin-left: 0.1rem;
  font-size: 1.25rem;
}

.recipes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
