@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow&display=swap");
.App {
  min-height: 100vh;
  background-color: lightsteelblue;
}

.title-background {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("https://cdn.pixabay.com/photo/2017/06/06/22/46/mediterranean-cuisine-2378758_1280.jpg");
  background-size: cover;
  border-bottom: 20px solid thistle;
}

.shopName {
  margin-top: 0px;
  text-align: center;
  letter-spacing: 3px;

  color: white;
  padding: 15px;
  font-family: "Pacifico", "Roboto", "Courier New", Courier, monospace;
}

.image-title {
  height: 80px;
  width: 80px;
}

.search-form {
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar {
  background-color: rgb(247, 247, 248);
  border: 0;
  width: 50%;
  height: 30px;
  padding: 0 20px;
  margin: 20px;
  border-radius: 10px;
  font-weight: bolder;
}

.search-bar::placeholder {
  color: rgba(153, 141, 141, 0.5);
}

.search-bar:focus,
.search-button:focus {
  outline: none;
}

.search-button {
  height: 30px;
  width: 85px;
  border-radius: 5px;
  border: 0;
  background-color: darkorange;
  cursor: pointer;
  font-weight: bolder;
  font-size: 15px;
  transition: all 0.2s linear;
}

.search-button:hover {
  transform: scaleY(1.1);
  background-color: rgb(253, 174, 4);

  box-shadow: 0px 5px 10px rgb(68, 65, 65);
}

.icon-search {
  margin-left: 0.1rem;
  font-size: 1.25rem;
}

.message-search {
  text-align: center;
  text-transform: capitalize;
  color: white;
  background-color: rgba(62, 145, 106, 0.5);
  margin-left: 20%;
  margin-right: 18%;
  margin-top: 4%;
  margin-bottom: 4%;
  font-family: "Barlow";
}

.message-end {
  text-align: center;
  text-transform: capitalize;
  padding-bottom: 50px;
  padding-top: 10px;
  color: rgba(54, 51, 51, 0.5);
}

.recipes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
