@import url("https://fonts.googleapis.com/css2?family=Cinzel+Decorative&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow&display=swap");
.recipe {
  background-image: linear-gradient(-225deg, #e3fdf5 0%, #ffe6fa 100%);
  margin: 25px 5px;
  border-radius: 5%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0px 5px 10px rgb(68, 65, 65);
  border-radius: 10px;
  min-width: 30%;
  padding: 10px;
  font-family: "Barlow", "Cinzel Decorative";
}
h1 {
  font-family: "Cinzel Decorative";
  font-size: x-large;
}

ol {
  font-size: small;
}

.image {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  padding: 5px;
  overflow: hidden;
  transition: all 0.5s ease-in-out;
}

.image:hover {
  transform: scale(1.1);
  border-radius: 10%;
}

.Link {
  display: flex;
  background-color: lightcoral;
  color: black;
  border-radius: 3px;
  margin-top: 8px;
  margin-bottom: 10px;
  cursor: pointer;
  box-shadow: 0px 2px 2px rgb(100, 96, 96);
}

.Link:hover {
  background-color: tomato;
  box-shadow: 0px 10px 10px rgb(100, 96, 96);
  animation: rotate 0.7s ease-in-out both;
}

.icon-link {
  margin-left: 0.75rem;
  font-size: 1.2rem;
}

a {
  margin: 0 auto;
  color: black;
  font-weight: bolder;
  font-family: "Courier New", Courier, monospace;
  text-decoration: none;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg) translate3d(0, 0, 0);
  }
  25% {
    transform: rotate(3deg) translate3d(0, 0, 0);
  }
  50% {
    transform: rotate(-3deg) translate3d(0, 0, 0);
  }
  75% {
    transform: rotate(1deg) translate3d(0, 0, 0);
  }
  100% {
    transform: rotate(0deg) translate3d(0, 0, 0);
  }
}
