@import url("https://fonts.googleapis.com/css2?family=Cinzel+Decorative&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow&display=swap");
.recipe {
  background-image: linear-gradient(-225deg, #e3fdf5 0%, #ffe6fa 100%);
  margin: 30px 10px;
  border-radius: 5%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0px 5px 10px rgb(68, 65, 65);
  border-radius: 10px;
  min-width: 40%;
  padding: 15px;
  font-family: "Barlow", "Cinzel Decorative";
}
h1 {
  font-family: "Cinzel Decorative";
}

.image {
  height: 30%;
  width: 50%;
  border-radius: 50%;
  padding: 5px;
}

.Link {
  display: flex;
  background-color: lightcoral;
  color: black;
  border-radius: 3px;
  margin-top: 12px;
  margin-bottom: 12px;
  cursor: pointer;
  box-shadow: 0px 2px 2px rgb(100, 96, 96);
}

.Link:hover {
  background-image: linear-gradient(to top, #ff0844 0%, #ffb199 100%);
  transform: scale(1.05);
  box-shadow: 0px 10px 10px rgb(100, 96, 96);
}

.icon-link {
  margin-left: 0.75rem;
  font-size: 1.2rem;
}

a {
  margin: 0 auto;
  color: black;
  font-weight: bolder;
  font-family: "Courier New", Courier, monospace;
  text-decoration: none;
}
